// ===============  STYLIZE THE HEADER ========

.home {
  background-image: url("../../images/xl-hero-desktop_2021.webp");
  background-position: 50%;
  background-size: auto 100%;
  background-attachment: local;
  background-repeat: no-repeat;
  background-color: rgb(212, 233, 226);
  height: 86vh;
}

.home__container {
  position: relative;
  width: 100%;
  row-gap: 2.5rem;
}

.home__img {
  width: 240px;
}

.home__data {
  max-width: 50%;
  // background: rgb(212, 233, 226);
  align-content: center;
  display: block;
}

.home__social {
  position: absolute;
  top: 35%;
  left: -5rem;
  transform: rotate(-90deg);
  display: flex;
  column-gap: 1rem;
}

.home__social-link {
  font-size: 0.813rem;
  color: hsl(0, 0%, 55%);
  transition: 0.3s;
}

.home__social-link:hover {
  color: hsl(0, 0%, 15%);
}

.home__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.home__description {
  margin-bottom: 1.5rem;
}

.home__price {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(143, 44%, 40%);
  margin-bottom: 3rem;
}

.home__btns {
  display: flex;
  align-items: center;
}

.home__button {
  box-shadow: 0 12px 24px hsla(0, 0%, 10%, 0.2);
}

// --------- BUTTON -----

.btn_home {
  margin-bottom: 1.5rem;
}

// ================ MEDIA QUERIES ===========

@media screen and (max-width: 992px) {
  .home {
    background-position: 35%;
  }
}

@media screen and (min-width: 992px) {
  .home__container {
    column-gap: 2rem;
  }
  .home__data {
    padding: 0 0 8rem 2rem;
  }
}
@media screen and (max-width: 820px) {
  .home {
    background-position: 28%;
    background-size: cover;
  }
  .home__data {
    margin: 10% 20%;
    width: 600px;
    text-align: center;
    position: absolute;
  }
  .home__title {
    font-size: 2.15rem;
  }
}

@media screen and (min-width: 767px) {
  .home__container {
    padding-top: 6rem;
    grid-template-columns: 1fr max-content;
    align-items: center;
  }
  .home__data {
    padding: 7rem 0 3rem 3em;
  }
  .home__social {
    top: 47%;
    column-gap: 2rem;
  }
}

@media screen and (max-width: 320px) {
  .home__title {
    font-size: 1.25rem;
  }
  .home__button {
    font-size: 0.813rem;
  }
}
