// ============ HEADER STYLIZATION ==========

.header {
  width: 100%;
  background: white;
  position: -webkit-sticky;
  position: sticky;
  height: 80px;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
  z-index: 10;
  /*For animation dark mode*/
  transition: 0.4s;
  font-family: "Roboto", serif;
}

// ----- CONTAINER ------
.container {
  max-width: 1366px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

// ---------------- NAVABAR-------------
.nav {
  height: calc(3.5rem + 1.5rem);
  // height: 3.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 rem;
  align-items: center;
}

.nav__menu {
  margin-left: -2%;
  margin-left: -2.2rem;
}

.nav__logo {
  color: hsl(0, 0%, 15%);
  margin-left: -1.7rem;
}

.nav__logo-img {
  min-width: 52px;
  max-width: 52px;
  margin-left: 2rem;
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav-mobile {
  display: none;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: left;
  row-gap: 2rem;
}

.nav__link {
  color: hsl(0, 0%, 15%);
  font-weight: 700;
  text-transform: uppercase;
  padding: 26px 10px;
  font-size: 1rem;
  transition: 0.3s;
}

// NAV_LINK BORDER BOTTOM
.link-active {
  border-bottom: 5px solid hsl(143, 44%, 40%);
}

.nav__link:hover {
  color: rgb(0 117 74);
}
// ------- active link -----
.active-link {
  border-bottom: 5px solid rgb(0 117 74);
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  top: 0.9rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__btns_find {
  font-weight: 600;
  transition: 0.1s ease-in;
  color: #000;
}
.nav__btns_find:hover {
  color: hsl(143, 44%, 40%);
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: hsl(0, 0%, 17%);
  color: #fff;
  padding: 1.25rem 2rem;
  font-weight: 500;
  transition: 0.3s;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  padding: 7px 16px;
  font-size: 0.81rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.btn-dark-outline:hover {
  background-color: rgb(0, 0, 0, 0.06);
}
.btn-dark-outline,
.btn-dark-outline a {
  border-color: #111;
  color: #000;
}
.btn-dark a {
  color: white;
}
.btn-dark-outline {
  width: 5.6rem;
}
.btn-dark {
  background: #000;
  flex-wrap: nowrap;
  width: 6.438rem;
}
.btn-dark:hover {
  background: #333;
}

.btn_green {
  background-color: #00754a;
  border-color: #00754a;
  color: #fff;
}
.btn_home {
  margin-bottom: 1.5rem;
}

.button:hover {
  background-color: hsl(0, 0%, 21%);
}

.button--gray {
  background-color: hsl(0, 0%, 75%);
  color: hsl(0, 0%, 15%);
}

.button--gray:hover {
  background-color: hsl(0, 0%, 63%);
}

.button--small {
  padding: 1rem 1.5rem;
}

// ---------- TO MOBILE MENU -------

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  top: 0.4rem;
  transition: all 0.25s;
  display: block;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

@media screen and (max-width: 820px) {
  .header {
    position: relative;
  }
  .nav__menu {
    display: none;
  }
  .nav-mobile {
    position: fixed;
    background-color: #fff;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 9rem 2rem 3.5rem;
    transition: 0.3s;
    display: block;
  }

  .nav__list {
    text-align: left;
    align-content: initial;
    position: relative;
    left: -3%;
    top: -5%;
    display: block;
  }

  .nav {
    padding: 2.2rem 0;
  }
}

@media screen and (min-width: 820px) {
  .nav {
    // height: calc(3.5rem + 1.5rem);
    justify-content: initial;
    column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
  .nav__link {
    text-transform: initial;
    font-size: 1rem;
  }
  .nav__btns {
    margin-left: auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
